body{
    display: grid;
    grid-template-columns: 25% 600px 350px auto;
    grid-template-rows: 204px auto auto auto;
}
.header{
    background-image: url("background.jpg");
    max-height: 250px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    
}
.me{
    background-color: whitesmoke;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    
}
.navigation{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.body{
    margin-top: 250px;
    /*background-color: blue;*/
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    
}
.profilePic{
    border-radius: 15%;
    height: 150px;
    width: auto;
    margin: auto;
}


ul{
    list-style-type: none;
    margin: 0;
   
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*border-radius: 85%;*/
    
    
}
li{
    float: left;
    
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a:hover{
    background-color: black;
}

.info{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}